@charset "UTF-8" ;

body {
    background-color: #2D4671;
}

h1#principal {
    background-color: #246B61;
    color: white;
    text-align: center;
}

h1 {
    color: white;
}

h2 {
    color: #408E2F;
}

.basico {
    color: green;
}

.intermediario {
    color: yellow;
}

.avancado {
    color: red
}