fieldset {
    padding-top: 10px;
    margin-bottom: 20px;
    background-color: rgb(226, 225, 225);
    border: 1px solid rgba(143, 143, 143, 0.863);
}

legend {
    color: black;
}

label {
    color: black;
}